body { width: 100%; background-color: #ddd; }
body.light { background-color: #ddd; }
body.dark {  background-color: #444; }
p, table, tr, td, button, canvas, body { padding: 0px; }
canvas { background-color: #fff; }
canvas.colors { background-color: #fff; padding: 0px; }
canvas.dark { background-color: #444; }
canvas.hidden { background-color: #ddd; } /* oh this won't work with dark */
canvas.matchLight { border: none; background-color: #ddd; }
canvas.matchDark { border: none; background-color: #444; }
canvas.compySelected { border: 3px dotted purple; padding: 0px; }
canvas.hintSelected { border: 3px dotted black; padding: 0px; }
canvas.notSelected { border: 1px solid black; padding: 2px; }
canvas.playerSelected { border: 3px dotted orange; padding: 0px; }
td.board { width: 650px; min-width: 650px; max-width: 650px; } /*Q! why does the internet recommend setting max width to 100%? */
td.options { width: 200px; text-align: center; }
button.colors { background-color: #fff; padding: 0px; height: 50px; width: 98px; }
button.start { position: absolute; left: 50%; top: 50%; }
.yes { visibility: visible; }
.no { visibility: hidden; }

/* This has been a Dr. Vonn Jerry XLII production. */
