body { background-color: #ddd; width: 100%; }
p, table, tr, td, button, canvas, body { padding: 0px; }
canvas { background-color: #fff; }
canvas.notSelected { border: 1px solid black; padding: 2px; }
canvas.playerSelected { border: 3px dotted orange; padding: 0px; }
canvas.hintSelected { border: 3px dotted black; padding: 0px; }
canvas.compySelected { border: 3px dotted purple; padding: 0px; }
canvas.match { border: none; background-color: #ddd; }
canvas.hidden { background-color: #ddd; }
td.board { width: 650px; min-width: 650px; max-width: 650px; } /*Q! why does the internet recommend setting max width to 100%? */
td.options { width: 200px; text-align: center; }
.yes { visibility: visible; }
.no { visibility: hidden; }

/* This has been a Dr. Vonn Jerry XLII production. */
